<!DOCTYPE html>
<html>
<head>
  <title>Credits</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1>Credits</h1>

<p> Alejandro Rodríguez</p>
<a href="/">Home</a>
<a href="/quizzes">Quizzes</a>
</body>
</html>
