<!DOCTYPE html>
<html>
  <head>
    <title>Index</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Index</h1>
    <p>Welcome to Index</p>
    <a href="/">Raiz</a>
    <a href="/credits">Credits</a>
    <a href="/quizzes">Quizzes</a>
  </body>
</html>
